/* Properties for other selectors */
*{
    font-family: Monaco;
}

/* Menu page styles */
.menu-page {
  padding: 2rem;
  font-family: Monaco;
}

.menu, .ll {
  text-align: center;
  color: #FA9F42;
}

.ll {
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid #495E57;
}

.menu-container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #E0E0E2;
  min-height: 50vh;
  padding: 2rem;
  border-radius: 8px;
}

.section {
  padding: 10px;
  margin-bottom: 2rem;
}

.label {
  font-weight: bold;
}

.description {
  font-style: italic;
  border-top: 2px solid #02de95;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}

.item-name {
  margin: 25px;
  font-size: 12px;
}

b {
  float: right;
  margin-top: -15px;
  color: darkcyan;
}

div > h3 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  color: #495E57;
}

.label + .low {
  color: brown;
}

div ~ div {
  color: rgb(8, 5, 5);
}