.homepage {
  padding: 1rem;
  font-family: 'Noto Sans Mono', monospace;
  background-color: #f0f8ff; /* Light blue background */
}

.mario-adrian,
.dishes,
.restaurant {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background-color: #ffffff; /* White background */
}

.mario-adrian h1,
.dishes h1,
.restaurant h1 {
  font-family: 'Plaster', system-ui;
  font-weight: 400;
  font-style: normal;
}

.mario-adrian img {
  width: 700px;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
}

.restaurant img {
  width: 700px;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
}

.dishes {
  padding: 2rem;
  text-align: center;
}

.dish-container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
}

.dish {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.dish img {
  width: auto;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dishes-description {
  max-width: auto;
  margin: 0 auto;
  line-height: 1.6;
  color: #333;
  font-size: 1.0rem;
  padding: 1rem;
}