main {
  padding: 1rem;
  background-color: #ffffff;
  font-family: 'Noto Sans Mono', monospace;
}

main h1 {
  font-family: 'Plaster', system-ui;
  font-weight: 400;
  font-style: normal;
}

.mario-adrian,
.dishes,
.restaurant {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

/* Style for Mario and Adrian image */
.mario-adrian img {
  width: 700px;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
}

/* Style for Restaurant image */
.restaurant img {
  width: 700px;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
}

.dishes {
  overflow: hidden;
  position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-slide {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.dish {
  width: 100%; /* Each dish takes up full width */
  flex-shrink: 0; /* Prevent items from shrinking */
  text-align: center;
}

.dish img {
  height: 200px;
  width: auto;
  border-radius: 8px;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  color: #333;
}