main {
  padding: 1rem;
  background-color: #ffffff; /* White background for main */
  font-family: 'Noto Sans Mono', monospace;
}

main h1 {
  font-family: 'Plaster', system-ui;
  font-weight: 400;
  font-style: normal;
}